body {
  box-sizing: border-box;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
  --header-height: 70px;
  --aside-width: 280px;
}

main {
  /* height: 100vh; */
  height: -webkit-fill-available;
  min-height: calc(100vh - var(--header-height));
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
}

i.flaticon-barbell::before {
  margin: 0;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.tab-content {
  width: calc(100vw - var(--aside-width));
  min-height: calc(100vh - var(--header-height));
  position: relative;
}

.tab-pane {
  height: calc(100vh - var(--header-height));
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
}
/* ======================================== 以上為固定樣板 ======================================== */
/* ============================================ 首頁 ===========================================  */

/* ===========================================員工管理==========================================  */

/* ===========================================會員管理==========================================  */

/* ===========================================商城管理==========================================  */

/* ===========================================教練管理==========================================  */

/* ===========================================課程管理==========================================  */

/* ===========================================場地管理==========================================  */

/* ===========================================論壇管理==========================================  */

/* ===========================================客服管理==========================================  */
