<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musclebeach.course.mapper.AbsentMemberMapper">
    <resultMap id="absentMemberResultMap" type="absentMember">
        <association property="member" column="mem_id"
                     select="com.musclebeach.backstage.mapper.MemberMapper.selectMemNameByID"/>
        <association property="classSchedule" column="time_id"
                     select="com.musclebeach.course.mapper.ClassScheduleMapper.selectByID"/>
    </resultMap>
    <select id="selectAll" resultMap="absentMemberResultMap">
        select *
        from absent_member
    </select>
    <select id="selectByMemID" resultMap="absentMemberResultMap">
        select *
        from absent_member
        where mem_id = #{memID}
    </select>
    <select id="selectByTimeID" resultMap="absentMemberResultMap">
        select *
        from absent_member
        where time_id = #{timeID}
    </select>
</mapper>